<div>
  <h1>
    Przeglądarka wiadomości z <a target="_blank" rel="noopener" href="https://newsapi.org">newsapi.org</a>
  </h1>
</div>
<h2>Wiadomości: </h2>
Kategoria:
<select #selectElem (change)="setNewCategory(selectElem.value)">
  <option *ngFor="let category of categories" [value]="category" [selected]="category === selectedCategory">
    {{category}}
  </option>
</select>

<ul class="article-list">
  <li *ngFor="let article of articles">
    <div class="article-item">
      <div class="article-title">{{article.title}}</div>
      <div class="article-date"></div>
      <div class="article-description">
        <img *ngIf="article.imageUrl != null" src="{{article.imageUrl}}"/>
        {{article.description}}
      </div>
      <div class="article-footer">{{article.date}} - <a target="_blank" rel="noopener" href="{{article.articleUrl}}">{{article.sourceName}}</a></div>
    </div>
  </li>
</ul>

<div class="toolbar">Wyświetlono {{articles.length}} z {{totalCount}} <b *ngIf="getHasMore()" (click)="loadNextPage()">Pobierz więcej</b></div>
